# IntelliJ project files
.idea/

# Lib files
node_modules/

# Batch files
*.sh
*.bat

# Compiled files
dist/

# Coverage
clover.xml
junit.xml

# MongoDB local instance
.mongodb

# Environment variables
.env

# Miscellaneous
.wakatime-project
scripts/
newrelic_agent.log
